<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Assignment02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>inventory-file</param-name>
    <param-value>/WEB-INF/etc/inventory.csv</param-value>
  </context-param>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>org.mcgill.ccs2_505.assignment02.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>display</servlet-name>
    <jsp-file>/DisplayInventory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/displayInventory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>org.mcgill.ccs2_505.assignment02.servlets.UpdateInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/updateInventory.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.mcgill.ccs2_505.assignment02.listeners.InventoryListener</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Inventory</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>